<ion-view hide-nav-bar='true'>
    <!-- ******************** search bar **************** -->
    <div class='bar bar-subheader item-input-inset bar-light'>
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
    <!--we add ng-model directive to search input to allow for two way data binding that makes the data and view connected -->
            <input type="search" placeholder="Search" ng-model="query">
        </label>

    </div>
    <!-- ******************** main content **************** -->

    <div class='bar bar-subheader centered'>
        <h4>The list below links to important contact information</h4>
    </div>
    <ion-content ng-controller= "HomeController" class= "has-subheader padding">


        <ion-list>
            <ion-item href="#/tab/home/{{ item.shortname }}" ng-repeat="item in links | filter: query"
            class="item-thumbnail-left item-text-wrap">

                <img ng-src="img/{{ item.shortname }}.jpg" alt="{{ item.name }} photo">

                <h3 class="list-header">{{ item.name }}</h3>
                <i class="icon ion-chevron-right custom-icon-right"></i>
                <p>{{ item.description }}</p>

            </ion-item>
        </ion-list>

    </ion-content>

</ion-view>
