<ion-view hide-nav-bar='true'>
<!-- ******************** main content **************** -->
    <ion-content ng-controller= "SurveysController" class= 'padding'>
        <ion-list>
            <form name="myForm" ng-controller="CheckboxController">
                 <ion-checkbox  ng-model="isChecked.value1">Select to remember this location</ion-checkbox>
            </form>

            <ion-item ng-repeat="item in surveys | filter: query"
            class="item-thumbnail-left item-text-wrap">
                <img  ng-src="img/{{ item.shortname }}.jpg" alt="{{ item.name }} photo">
                <h3>{{ item.name }}</h3>
                <p>{{ item.description }}</p>
                <a class= 'listLinks' href="#/tab/surveys/{{ item.shortname }}">Link</a>

            </ion-item>
    </ion-list>

    </ion-content>
</ion-view>
