<ion-view hide-nav-bar='true'>
    <div class='bar bar-subheader centered'>
                <h4 >Please Select the appropriate survey according to your desk location.</h4>
</div>
<!-- ******************** main content **************** -->
    <ion-content ng-controller= "SurveysController" class= ' has-subheader padding'>

        <ion-list>
            <ion-item ng-repeat="item in surveys | filter: query"
            class="item-thumbnail-left item-text-wrap">
                <img  ng-src="img/{{ item.shortname }}.jpg" alt="{{ item.name }} photo">
                <h3>{{ item.name }}</h3>
                <p>{{ item.description }}</p>
                <a class= 'listLinks' href="#/tab/surveys/{{ item.shortname }}">Link</a>

            </ion-item>
    </ion-list>

    </ion-content>
</ion-view>
