<ion-tabs class="tabs-icon-top">
    <ion-tab href= "#/tab/home" icon = "icon ion-ios-home" title = "Home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab href= "#/tab/surveys"icon = "icon ion-ios-book" title = "Surveys">
    <ion-nav-view name="surveys-tab"></ion-nav-view>
   </ion-tab>

    <ion-tab href= "#/tab/faqs" icon = "icon ion-help" title = "FAQs">
    <ion-nav-view name="faqs-tab"></ion-nav-view>
   </ion-tab>

    <ion-tab href= "#/tab/map" icon = "icon ion-ios-location" title = "Map">
    <ion-nav-view name="map-tab"></ion-nav-view>
   </ion-tab>

    <ion-tab href= "#/tab/phone" icon = "icon ion-ios-telephone" title = "Directory">>
    <ion-nav-view name="phone-tab"></ion-nav-view>
   </ion-tab>

    <ion-tab href= "#/tab/events"icon = "icon ion-ios-calendar" title = "Events">
    <ion-nav-view name="events-tab"></ion-nav-view>
   </ion-tab>

</ion-tabs>
