/********************** General *******************************/
.centered{
    text-align: center;
}


/********************** Home Page *******************************/
.tagLine{
    width:100%;
}
.title-image {
    margin: 0 auto;
    height: 30px;
}
.listLinks{
    color: #EAAB00;
    text-decoration: none;
}
ion-content div.scroll{
    height: 100%;
}
.webPage{
    width: 100%;
    height: 100%;
    border: 2px solid #EAAB00;
}
.custom-icon {
   opacity: 0.6;
}
.algonquin{
    background-color: #00673E !important;
}


/********************** Home Page *******************************/

.iframe-wrapper iframe {
   width: 100%;
   height: 100%;
 }
.tab-nav.tabs {
  background-color: #00673E;
}
.tab-item{
    color: white;
}
.tab-item.tab-item-active{
    color: #94C947 !important;
}

